.button {

}

.buttonContainer {
  display: block;
  margin: 16px auto;
  padding: 0 8px;
  & :global(.the-button.the-link) {
    display: block;
    margin: 8px auto;
    width: 100%;
  }
}

.buttonRow {
  padding: 4px 0;
}

.self {

}
