.self {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  background: rgba(0, 0, 0, 0.9);
  border-top: 1px solid #333;
  box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.33);
  color: white;
  transition: bottom 400ms;
}

.hidden {
  bottom: -100%;
}

.inner {
  padding: 16px 8px;
}

.lead {
  padding: 0 8px;
  margin: 0 0 8px;
  color: #888;
  font-size: smaller;
}

.buttons {

}