/** App Theme Style */

.the-body { color:#555;margin:0;padding:0;font-family:ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN, メイリオ, Meiryo, sans-serif;font-size:16px;background-color:#FFF;min-height:100vh; }
.the-bar { display:flex;justify-content:space-between; }
.the-action-bar { position:fixed;left:0px;bottom:0px;right:0px;z-index:4;background:rgba(0, 0, 0, 0.9);border-top:1px solid #333;box-shadow:-1px -1px 4px rgba(0, 0, 0, 0.33);color:white;transition:bottom 400ms; }
.the-action-bar .the-action-bar-hidden { bottom:-100%; }
.the-action-bar .the-action-bar-inner { padding:16px 8px; }
.the-action-bar .the-action-bar-lead { padding:0 8px;margin:0 0 8px;color:#888;font-size:smaller; }
.the-action-bar .the-action-bar-buttons {  }
.the-action-bar .the-action-bar-button {  }
.the-button { display:inline-flex;position:relative;text-decoration:none;text-align:center;flex-direction:row;align-items:center;justify-content:center;margin:4px;box-sizing:border-box;padding:0.5em 1em;max-width:480px;min-height:36px;border:1px solid;color:#3A8;border-radius:4px;cursor:pointer;background-color:#FFF;outline-color:#3A8; }
.the-button:hover { opacity:0.9; }
.the-button:active { box-shadow:1px 2px 2px rgba(0,0,0,0.33) inset; }
.the-button.the-link { display:inline-flex;padding:0.5em 1em; }
.the-button.the-button-primary { background-color:#3A8;border-color:#3A8;color:#FFF; }
.the-button.the-button-simple { background-color:transparent;border:none; }
.the-button.the-button-simple:active { box-shadow:none; }
.the-button.the-button-danger { background-color:#A33;border:#A33;color:white; }
.the-button.the-button-light { background-color:transparent;border-color:#BBB;color:#BBB; }
.the-button.the-button-rounded { border-radius:50%;border-width:4px;width:7em;height:7em; }
.the-button.the-button-rounded .the-button-spinner { border-radius:50%; }
.the-button.the-button-floated { box-shadow:2px 2px 4px rgba(0,0,0,0.33); }
.the-button.the-button-floated:active { box-shadow:none; }
.the-button.the-button-wide { width:100%;box-sizing:border-box;margin:4px auto;display:block; }
.the-button.the-button-large { font-size:2em; }
.the-button.the-button-small { font-size:small; }
.the-button.the-button-disabled { pointer-events:none;cursor:default;color:#CCC;background-color:#F0F0F0; }
.the-button.the-button-disabled:hover { cursor:default;box-shadow:none; }
.the-button.the-button-disabled:active { cursor:default;box-shadow:none; }
.the-button.the-button-vertical { flex-direction:column; }
.the-button .the-button-spinner { position:absolute;left:0;top:0;right:0;bottom:0;z-index:1;background-color:rgba(255,255,255,0.8);border-color:rgba(255,255,255,0.8);color:#555;display:flex;align-items:center;justify-content:center;overflow:hidden; }
.the-button .the-button-text { display:inline-block;padding:0 2px; }
.the-button .the-button-icon { margin-right:2px;margin-left:0px; }
.the-button .the-button-icon-right { margin-left:2px;margin-right:0px; }
.the-button .the-button-large-icon { font-size:4em;margin:0px;display:block; }
.the-button-group { display:flex;width:100%;margin:8px auto;justify-content:center;align-items:center;flex-wrap:wrap;max-width:480px; }
.the-button-group.the-button-group-left { justify-content:flex-start; }
.the-button-group.the-button-group-right { justify-content:flex-end; }
.the-button-group.the-button-group-collapsed { flex-wrap:nowrap;align-items:stretch; }
.the-button-group.the-button-group-collapsed .the-button { margin:0 -1px 0 0;width:100%;padding-top:1em;padding-bottom:1em;border-radius:0;border-bottom:none;border-right:none; }
.the-button-group.the-button-group-collapsed .the-button:first-child { border-left:none;margin:0px; }
.the-button-group.the-button-group-collapsed .the-button:last-child { border-right:none; }
.the-button-group .the-button { flex-grow:1; }
.the-card { color:#555;background-color:rgba(255,255,255,0.8);border:1px solid #CCC;box-shadow:2px 2px 4px rgba(0,0,0,0.33);border-radius:4px;margin:16px 32px;max-width:480px; }
.the-card .the-card-header { padding:4px 8px;margin:0;font-weight:normal; }
.the-card .the-card-body { padding:4px 8px; }
.the-twitter-card { background-color:#1da1f2;border:4px solid #1da1f2;padding:4px; }
.the-twitter-card .the-twitter-card-snippet { background:white;border-radius:2px;padding:4px; }
.the-twitter-card .the-twitter-card-inner { color:white;font-size:smaller;padding:4px; }
.the-twitter-card .twitter-tweet { margin:0;overflow:hidden; }
.the-container { max-width:1024px;margin:0 auto; }
.the-dialog { display:none;background-color:transparent;position:fixed;left:0;right:0;bottom:0;top:0;z-index:99; }
.the-dialog .the-dialog-back { background-color:rgba(0,0,0,0.33);position:absolute;left:0;right:0;bottom:0;top:0;z-index:1; }
.the-dialog .the-dialog-back-inner { width:100%;height:100%;box-sizing:border-box;display:block; }
.the-dialog.the-dialog-present { display:block; }
.the-dialog .the-dialog-inner { height:100%;width:100%;box-sizing:border-box;position:relative;padding:36px 24px;z-index:4;justify-content:center;flex-direction:column; }
.the-dialog .the-dialog-content { overflow:auto;z-index:8;margin:0 auto;height:auto;background-color:#FFF;border:1px solid #DDD;border-radius:8px;min-height:124px;max-width:480px;width:100%;box-sizing:border-box;position:relative;box-shadow:2px 2px 2px rgba(0,0,0,0.3); }
.the-dialog .the-dialog-title { line-height:44px;margin:0;padding:0;font-weight:normal; }
.the-dialog .the-dialog-lead {  }
.the-dialog .the-dialog-close-button { position:absolute;top:0;right:0;padding:0 16px;font-size:16px;line-height:44px;display:inline-flex;bottom:0;justify-content:center;align-items:center;cursor:pointer;z-index:44; }
.the-dialog .the-dialog-close-button:hover { opacity:0.9; }
.the-dialog .the-dialog-close-button:active { opacity:0.6; }
.the-dialog .the-dialog-close-button-icon { line-height:44px; }
.the-dialog .the-dialog-header { display:block;position:absolute;z-index:2;text-align:center;top:0;left:0;right:0;height:44px;line-height:44px;box-sizing:border-box;border-bottom:1px solid #F5F5F5;background-color:rgba(255,255,255,0.9); }
.the-dialog .the-dialog-body { padding:52px 16px 8px;box-sizing:border-box;max-height:100%;height:auto;width:100%;overflow:auto; }
.the-dialog .the-dialog-body-for-footer { padding-bottom:52px; }
.the-dialog .the-dialog-spinner { position:absolute;background:rgba(255,255,255,0.8);left:0;top:0;right:0;bottom:0;z-index:99; }
.the-dialog .the-dialog-footer {  }
.the-dialog .the-dialog-footer-inner { position:absolute;left:0;right:0;bottom:0;box-sizing:border-box;overflow-x:hidden;padding:0 8px;height:44px;line-height:44;display:flex;align-items:center;justify-content:flex-end;border-top:1px solid #EEE;background-color:rgba(255,255,255,0.8); }
.the-dialog .the-yes-no-dialog-control { display:flex;box-sizing:border-box;overflow-x:hidden;justify-content:flex-end;padding:0 8px;background-color:rgba(255,255,255,0.9); }
.the-dialog .the-yes-no-dialog-button { display:block;max-width:50%;text-align:center;margin:0 -1px;color:#3A8;padding:4px 16px; }
.the-dialog .the-yes-no-dialog-button-text { display:inline-block;width:100%;box-sizing:border-box;line-height:40px; }
.the-dialog .the-yes-no-dialog-button:hover { cursor:pointer;opacity:0.9; }
.the-dialog .the-yes-no-dialog-button:active { opacity:0.6; }
.the-dialog .the-ok-dialog-control { width:100%;text-align:center;color:#3A8;display:flex;justify-content:center;align-items:center;position:absolute;left:0;top:0;right:0;bottom:0; }
.the-dialog .the-ok-dialog-button { width:100%;cursor:pointer; }
.the-dialog .the-confirm-dialog-action { padding:8px 0;text-align:center; }
.the-dialog .the-confirm-dialog-content { min-height:72px; }
.the-dialog .the-confirm-dialog-checkbox { margin:0; }
.the-dialog .the-confirm-dialog-submit {  }
.the-dialog-fix { overflow:hidden !important; }
.the-done { text-align:center; }
.the-done .the-done-button-container { display:flex;justify-content:center;align-items:center; }
.the-done .the-done-button { font-size:11px;padding:4px 16px; }
.the-done .the-done-link { display:inline-block;padding:8px 16px;color:#3A8;text-decoration:underline;font-size:14px; }
.the-done .the-done-link:hover {  }
.the-done .the-done-link:active { opacity:0.8; }
.the-condition {  }
.the-drawer { position:fixed;top:44px;left:-80vw;width:80vw;bottom:0;background:#FFF;border:1px solid #AAA;padding:8px;transition:left 400ms;box-sizing:border-box;z-index:16;box-shadow:0 2px 4px rgba(0,0,0,0.33);max-width:480px; }
.the-drawer.the-drawer-open { left:0; }
.the-flick { display:none;background-color:transparent;position:fixed;left:0;right:0;bottom:0;top:0;z-index:99; }
.the-flick .the-flick-back { background-color:rgba(0,0,0,0.66);position:absolute;left:0;right:0;bottom:0;top:0;z-index:1; }
.the-flick .the-flick-back-inner { width:100%;height:100%;box-sizing:border-box;display:block; }
.the-flick .the-flick-content { position:relative;width:100%;height:100%;color:#AAA;background:rgba(44, 44, 44, 0.9);border:1px solid #111;border-radius:4px;box-shadow:2px 2px 4px rgba(0,0,0,0.33);box-sizing:border-box;z-index:4;display:flex;justify-content:center;flex-direction:column; }
.the-flick .the-flick-inner { height:100%;width:100%;box-sizing:border-box;position:relative;padding:24px 24px;z-index:4;display:flex;justify-content:center;flex-direction:column; }
.the-flick .the-flick-close-button { padding:16px;font-size:16px;line-height:16px;display:inline-flex;justify-content:center;align-items:center;cursor:pointer;z-index:44; }
.the-flick .the-flick-header { position:relative;width:100%;display:flex;justify-content:center;align-items:center;height:44px; }
.the-flick .the-flick-header-row { width:48px; }
.the-flick .the-flick-header-row:nth-child(1) { text-align:left; }
.the-flick .the-flick-header-row:nth-child(2) { width:100%; }
.the-flick .the-flick-header-row:nth-child(3) { text-align:right; }
.the-flick .the-flick-header-title { display:block;width:100%;text-align:center;margin:0px;line-height:48px; }
.the-flick .the-flick-body { position:relative;width:100%;height:100%;overflow:hidden;box-sizing:border-box;transition:height 300ms; }
.the-flick .the-flick-footer { height:44px; }
.the-flick .the-flick-image-body-inner { display:flex;position:relative;box-sizing:border-box;align-items:flex-start; }
.the-flick .the-flick-image-body-inner.the-flick-image-body-inner-animating { transition:transform 300ms; }
.the-flick .the-flick-image-body-inner.react-draggable-dragging { transition:none; }
.the-flick .the-flick-image-wrap { width:100%;height:100%; }
.the-flick .the-flick-image-wrap-active {  }
.the-flick .the-flick-image { display:flex;justify-content:center;align-items:center;flex-direction:column;width:100%;height:100%;padding:4px 32px;box-sizing:border-box; }
.the-flick .the-flick-image .the-image { background:transparent; }
.the-flick .the-flick-image .the-image-img { width:auto !important;height:auto !important; }
.the-flick .the-flick-image .the-video { background:transparent;display:block;overflow:auto; }
.the-flick .the-flick-image .the-video-inner { height:auto;max-height:100%; }
.the-flick .the-flick-image .the-video-video {  }
.the-flick .the-flick-image .the-image-spin { font-size:44px;color:#888; }
.the-flick .the-flick-image .the-video-spin { font-size:44px;color:#888; }
.the-flick .the-flick-image-inner { display:block;width:100%;position:relative;text-align:center;transition:transform 150ms;transform-origin:50% 50%; }
.the-flick .the-flick-image-info { display:block;width:100%; }
.the-flick .the-flick-image-title { position:relative;z-index:2;color:#CCC;display:block;margin:4px 0;text-align:center;font-weight:normal;font-size:1.33em;width:100%;box-sizing:border-box; }
.the-flick .the-flick-image-description { position:relative;z-index:2;margin:0px;font-size:smaller;width:100%;box-sizing:border-box;text-align:center; }
.the-flick .the-flick-flip-button-wrap { position:absolute;z-index:5;top:0;bottom:0;display:flex;justify-content:center;align-items:center;width:1px;overflow:visible; }
.the-flick .the-flick-flip-button { background-color:transparent;border-color:#AAA;color:#AAA;height:128px;padding:0;min-width:21px;border-radius:4px; }
.the-flick .the-flick-flip-button:active { color:#888; }
.the-flick.the-flick-present { display:block; }
.the-flick-fix { overflow:hidden !important; }
.the-lead { text-align:center;max-width:480px;margin:0 auto; }
.the-lead .the-lead-title { font-size:1.5em;margin:8px 0; }
.the-lead .the-lead-text {  }
.the-lead .the-lead-error { color:#B31818; }
.the-step { position:relative;overflow:hidden; }
.the-step .the-step-scroll { width:100%;transition:height 300ms; }
.the-step .the-step-inner { display:flex;justify-content:flex-start;flex-wrap:nowrap;align-items:baseline;position:relative;transition:left 300ms; }
.the-step .the-step-content-wrap { display:block; }
.the-step .the-step-content { position:relative;transition:height 300ms; }
.the-step .the-step-action { flex-wrap:nowrap;box-sizing:border-box;padding:0 16px;justify-content:space-between;max-width:100%; }
.the-step .the-step-button { flex-grow:0; }
.the-step .the-step-button-hidden { visibility:hidden !important; }
.the-line { margin:32px 0;color:#CCC;border-style:solid; }
.the-repeatable { position:relative;min-height:36px; }
.the-repeatable.the-repeatable-horizontal {  }
.the-repeatable.the-repeatable-horizontal .the-repeatable-list { flex-wrap:noWrap;overflow:auto; }
.the-repeatable.the-repeatable-horizontal .the-repeatable-item { flex-shrink:0; }
.the-repeatable .the-repeatable-list { display:flex;flex-wrap:wrap;align-items:center;padding:0;margin:0;list-style:none; }
.the-repeatable .the-repeatable-item { display:inline-block;margin:0px;padding:0px;flex-grow:1; }
.the-repeatable .the-repeatable-alt { color:#E0E0E0;width:100%;padding:48px 16px;text-align:center;font-size:1.25em; }
.the-aside { display:block;flex-grow:1;width:216px;min-height:1px; }
.the-aside-for { display:block;flex-grow:4;min-width:280px; }
.the-aside-container { display:flex;width:100%;flex-wrap:wrap; }
.the-footer {  }
.the-footer .the-footer-inner { border-top:1px solid #EEE;padding:32px 0;display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center;font-size:smaller; }
.the-footer .the-footer-copyright { display:inline-block;padding:0 8px; }
.the-footer .the-footer-links { display:flex; }
.the-footer .the-footer-link { text-decoration:none;padding:0 8px;color:#999; }
.the-footer .the-footer-row { display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center;font-size:smaller;margin:8px 0; }
.the-form { margin:0 auto;max-width:480px;position:relative; }
.the-form .the-form-field { display:flex;align-items:center;justify-content:flex-start;flex-wrap:wrap;padding:0 8px;margin:8px 0; }
.the-form .the-form-label { font-size:smaller;color:#BBB; }
.the-form .the-form-value { width:100%; }
.the-form .the-form-value .the-input-text { margin:0px; }
.the-form .the-form-spinner { position:absolute;left:0;top:0;right:0;bottom:0;z-index:4;background-color:rgba(255,255,255,0.8);color:#BBB;display:flex;align-items:center;justify-content:center;font-size:3em; }
.the-form.the-form-inline { display:inline-flex;margin:0px;align-items:flex-end;padding:0 8px; }
.the-form.the-form-inline > * { margin:0px; }
.the-form.the-form-inline input { height:36px;border-radius:4px 0 0 4px ; }
.the-form.the-form-inline .the-button { border-radius:0 4px 4px 0;height:36px;white-space:nowrap;margin-left:-1px; }
.the-frame { display:block;position:relative; }
.the-frame .the-frame-iframe { display:block;border:none;width:100%; }
.the-header { min-height:44px; }
.the-header .the-header-inner { position:fixed;left:0;top:0;right:0;z-index:8;min-height:44px;background-color:rgba(255,255,255,0.92);border-bottom:1px solid #CCC; }
.the-header .the-header-notices-wrap { display:block;transition:height 400ms;margin:0;padding:0; }
.the-header .the-header-notices-wrap.the-header-notices-wrap-empty { height:0 !important;overflow:hidden; }
.the-header .the-container { position:relative;display:flex;align-items:center;justify-content:flex-start;flex-wrap:wrap;box-sizing:border-box; }
.the-header .the-header-logo { display:inline-block;color:inherit;text-decoration:none;height:44px;padding:0 4px;line-height:44px;margin:0 8px;box-sizing:border-box; }
.the-header .the-header-tab { display:flex;align-items:center;justify-content:flex-start;padding:0 8px;margin:0 -16px;list-style:none;box-sizing:border-box;min-width:240px; }
.the-header .the-header-tab-item { display:inline-block;margin:0 8px;padding:0; }
.the-header .the-header-tab-item .the-link { display:inline-flex;align-items:center;color:#AAA;padding:0 8px;text-decoration:none;border-bottom:2px solid transparent;font-size:smaller;height:44px;line-height:44px;box-sizing:border-box;max-width:100%; }
.the-header .the-header-tab-item a { display:inline-flex;align-items:center;color:#AAA;padding:0 8px;text-decoration:none;border-bottom:2px solid transparent;font-size:smaller;height:44px;line-height:44px;box-sizing:border-box;max-width:100%; }
.the-header .the-header-tab-item .the-link-active { border-bottom-color:#3A8;color:#3A8; }
.the-header .the-button { font-size:smaller;padding:0.25em 1em;display:inline-flex;justify-content:center;align-items:center;line-height:2em; }
.the-header .the-header-right-area { position:absolute;top:0;right:0;height:44px;display:flex;align-items:center;justify-content:center; }
.the-header .the-header-notice { display:block;background-color:#333;color:#999;font-size:small; }
.the-header .the-header-notice-message { display:block;padding:4px 8px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;transition:width 300ms; }
.the-header .the-header-notice-message:hover { overflow:visible; }
.the-header .the-header-notice-inner.the-container { display:flex;justify-content:space-between;align-items:center;flex-wrap:nowrap; }
.the-header .the-header-notice-actions { flex-wrap:wrap;display:flex;align-items:center;padding:4px; }
.the-header .the-header-notice-button { padding:4px 8px;line-height:inherit;min-height:18px;margin:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
.the-header.the-header-as-overlay { min-height:0 !important; }
.the-header.the-header-as-overlay .the-header-inner { z-index:666;border:none;padding:0;box-shadow:2px 2px 4px rgba(0, 0, 0, 0.33);background:rgba(255, 255, 255, 0.66);min-height:0; }
.the-header.the-header-as-overlay .the-header-logo { padding:0 9px;height:24px;line-height:24px; }
.the-header.the-header-as-overlay .the-container { max-width:none; }
.the-header.the-header-as-overlay .the-header-tab-item {  }
.the-header.the-header-as-overlay .the-header-tab-item .the-link { height:24px;line-height:24px;display:inline-flex;justify-content:center;align-items:center; }
.the-header.the-header-as-overlay .the-header-tab-item a { height:24px;line-height:24px;display:inline-flex;justify-content:center;align-items:center; }
.the-header.the-header-as-overlay .the-header-right-area { height:auto;bottom:0; }
.the-header.the-header-as-overlay .the-button { padding:0 1em;line-height:19.5px;min-height:0;height:auto;margin:0 8px; }
.the-header.the-header-as-overlay .the-dropdown-menu-inner { background:none; }
.the-header.the-header-as-static {  }
.the-header.the-header-as-static .the-header-inner { position:static; }
.the-icon { display:inline-block;margin:0 2px; }
.the-info { display:block;margin:0 auto;max-width:480px; }
.the-info .the-info-header { margin:0;font-size:small;background-color:#F8F8F8;color:#BBB;padding:1px 8px;border-bottom:1px solid #EEE;font-weight:normal; }
.the-info .the-info-row { display:flex;justify-content:space-between;align-items:center;border-bottom:1px solid #EEE;padding:4px; }
.the-info .the-info-row-label { display:inline-block;padding:4px;font-size:smaller;color:#BBB; }
.the-info .the-info-row-value { display:inline-block;padding:4px; }
.the-image { position:relative;display:inline-block;background-color:#F8F8F8;overflow:hidden; }
.the-image .the-image-inner { display:flex;justify-content:center;align-items:center;width:auto;height:auto;overflow:hidden; }
.the-image .the-image-spin { text-align:center;padding:8px 0;position:absolute;z-index:1;color:#BBB;background-color:rgba(255,255,255,0.8);top:0;left:0;right:0;bottom:0;display:flex;justify-content:center;align-items:center; }
.the-image .the-image-spin .the-icon-spin { font-size:larger; }
.the-image .the-image-img { transition:width 300ms, height 300ms;object-fit:none; }
.the-image .the-image-failed { color:#BBB;text-align:center; }
.the-image .the-image-img-failed { opacity:0;visibility:hidden; }
.the-image.the-image-fill {  }
.the-image.the-image-fill .the-image-img { object-fit:cover;min-width:100%;min-height:100%; }
.the-image.the-image-fit {  }
.the-image.the-image-fit .the-image-img { object-fit:scale-down;max-width:100%;max-height:100%; }
.the-input {  }
.the-input-message { transition:max-height 300ms;display:block;font-size:small;padding:4px 4px 0;margin:0 0 -2px;font-style:italic;overflow:hidden;max-height:2em; }
.the-input-message.the-input-message-empty { max-height:0em;padding:0;margin:0; }
.the-input-text { display:inline-block;max-width:480px;margin:0 4px;vertical-align:middle;width:100%;box-sizing:border-box;position:relative; }
.the-input-text .the-input-text-input { display:block;outline-color:#3A8;min-height:28px;box-shadow:1px 1px 1px rgba(0,0,0,.05) inset;box-sizing:border-box;padding:4px 8px;border-radius:2px;width:100%;border:1px solid #AAA; }
.the-input-text .the-input-text-options { padding:0;top:100%;margin:-1px 0 0;position:absolute;left:0;right:0;list-style:none;z-index:8;border:1px solid #EEE;box-shadow:2px 2px 4px rgba(0,0,0,0.33);box-sizing:border-box;border-radius:0 0 2px 2px;background-color:#FFF; }
.the-input-text .the-input-text-option { display:flex;overflow:hidden;text-overflow:ellipsis;cursor:pointer;min-height:36px;align-items:center;justify-content:flex-start;background-color:#FFF;border-bottom:1px solid #EEE;padding:4px;box-sizing:border-box; }
.the-input-text .the-input-text-option:last-child { border-bottom:none; }
.the-input-text .the-input-text-option.the-input-text-option-selected { background-color:rgba(51, 170, 136, 0.2); }
.the-input-password { position:relative; }
.the-input-password .the-input-password-toggle { position:absolute;right:0;display:inline-flex;align-items:center;justify-content:center;bottom:0;height:30px;z-index:4;padding:0 4px;min-width:1em;outline-color:rgba(51, 170, 136, 0.2);cursor:pointer;text-decoration:none;color:inherit; }
.the-input-password .the-input-password-toggle:hover { opacity:0.9; }
.the-input-password .the-input-password-toggle:active { opacity:0.8; }
.the-input-search { position:relative;transition:max-width 400ms;max-width:2em; }
.the-input-search.the-input-search-open { max-width:480px; }
.the-input-search.the-input-search-open .the-input-text-input { opacity:1; }
.the-input-search.the-input-search-open .the-input-search-toggle { padding:0 4px; }
.the-input-search .the-input-search-toggle { position:absolute;right:0;display:inline-flex;align-items:center;justify-content:center;bottom:0;height:30px;z-index:4;padding:0 8px;min-width:1em;outline-color:rgba(51, 170, 136, 0.2);cursor:pointer;color:#3A8;outline:none;transition:opacity 400ms; }
.the-input-search .the-input-search-toggle:hover { opacity:0.9; }
.the-input-search .the-input-search-toggle:active { opacity:0.8; }
.the-input-search .the-input-text-input { opacity:0;transition:opacity 400ms; }
.the-input-textarea { display:inline-block;max-width:480px;vertical-align:middle;width:100%;margin:0 4px;box-sizing:border-box;position:relative; }
.the-input-textarea .the-input-textarea-input { display:block;outline-color:#3A8;box-shadow:1px 1px 1px rgba(0,0,0,.05) inset;box-sizing:border-box;padding:4px 8px;border-radius:2px;width:100%;border:1px solid #AAA;resize:none; }
.the-input-radio { display:inline-block;max-width:480px;vertical-align:middle;width:100%;margin:4px 0;border-radius:2px;box-sizing:border-box;position:relative; }
.the-input-radio .the-input-radio-item { display:inline-flex;justify-content:center;overflow:hidden;text-overflow:ellipsis;box-sizing:border-box;align-items:center;margin:0 2px; }
.the-input-radio .the-input-radio-label { display:inline-block;padding:2px 4px;cursor:pointer; }
.the-input-radio .the-input-radio-label:hover { opacity:0.9; }
.the-input-radio .the-input-radio-label:active { opacity:0.8; }
.the-input-radio .the-input-radio-radio { opacity:0;overflow:hidden;width:1px;height:1px;margin-right:-1px;margin-bottom:-1px;visibility:hidden;z-index:-1;position:absolute;left:0;top:0; }
.the-input-radio .the-input-radio-icon { color:#3A8; }
.the-input-radio.the-input-asButton {  }
.the-input-radio.the-input-asButton .the-input-radio-icon { display:none; }
.the-input-radio.the-input-asButton .the-input-radio-item { border:1px solid #CCC;border-radius:4px;padding:4px 8px;text-align:center;margin:4px;background:#FFF;font-size:smaller; }
.the-input-radio.the-input-asButton .the-input-radio-item-checked { border:2px solid #3A8; }
.the-input-checkbox { display:inline-block;max-width:480px;vertical-align:middle;width:100%;margin:4px 0;border-radius:2px;box-sizing:border-box;position:relative; }
.the-input-checkbox .the-input-checkbox-item { display:inline-flex;justify-content:flex-center;overflow:hidden;text-overflow:ellipsis;box-sizing:border-box;align-items:center;margin:0 2px; }
.the-input-checkbox .the-input-checkbox-label { display:inline-block;padding:2px 4px;cursor:pointer; }
.the-input-checkbox .the-input-checkbox-label:hover { opacity:0.9; }
.the-input-checkbox .the-input-checkbox-label:active { opacity:0.8; }
.the-input-checkbox .the-input-checkbox-checkbox { opacity:0;overflow:hidden;width:1px;height:1px;margin-right:-1px;margin-bottom:-1px;visibility:hidden;z-index:-1;position:absolute;left:0;top:0; }
.the-input-checkbox .the-input-checkbox-icon { color:#3A8;min-width:1em; }
.the-input-toggle { display:inline-flex;justify-content:center;align-items:center;cursor:pointer; }
.the-input-toggle .the-input-toggle-radio { display:none; }
.the-input-toggle .the-input-toggle-label { width:100%;height:100%;box-sizing:border-box;text-align:center;font-size:14px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;padding:0;flex-grow:1;flex-shrink:1;cursor:pointer;transition:width 400ms;line-height:24px; }
.the-input-toggle .the-input-toggle-label-text { display:inline-block;width:100%;padding:0 8px;box-sizing:border-box;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;min-width:36px; }
.the-input-toggle .the-input-toggle-on-label { background:#3A8;color:white;border-radius:12px 0 0 12px;box-shadow:2px 0 0 6px #3A8; }
.the-input-toggle .the-input-toggle-off-label { background:#FAFAFA;color:#AAA;border-radius:0 12px 12px 0;box-shadow:-2px 0 0 6px #FAFAFA; }
.the-input-toggle.the-input-toggle-on .the-input-toggle-off-label { width:0 !important; }
.the-input-toggle.the-input-toggle-off .the-input-toggle-on-label { width:0 !important; }
.the-input-toggle .the-input-toggle-inner { display:inline-flex;justify-content:flex-start;align-items:center;background-color:#FFF;height:24px;border-radius:13px;min-width:74px;border:1px solid #AAA;overflow:hidden;width:100%; }
.the-input-toggle .the-input-toggle-handle { display:inline-block;border-radius:50%;width:24px;height:24px;background-color:white;border:1px solid #AAA;flex-grow:0;flex-shrink:0;position:relative;z-index:4; }
.the-input-select { display:inline-block;max-width:480px;vertical-align:middle;width:100%;box-sizing:border-box;position:relative; }
.the-input-select .the-input-select-display { vertical-align:middle;display:inline-flex;align-items:center;padding:4px 2px 4px 8px;color:inherit;font-size:smaller;min-height:28px;max-width:480px;width:100%;cursor:pointer;background-color:#FFF;box-sizing:border-box;border-radius:2px;border:1px solid #AAA;justify-content:space-between;overflow:hidden;text-overflow:ellipsis; }
.the-input-select .the-input-select-display-value {  }
.the-input-select .the-input-select-display-alt { color:#BBB;display:block;width:100%;text-align:left; }
.the-input-select .the-input-select-options { padding:0;margin:-1px 0 0;position:absolute;left:0;right:0;top:0;list-style:none;z-index:8;border:1px solid #EEE;box-shadow:2px 2px 4px rgba(0,0,0,0.33);box-sizing:border-box;border-radius:0 0 2px 2px;background-color:#FFF; }
.the-input-select .the-input-select-option { display:flex;overflow:hidden;text-overflow:ellipsis;cursor:pointer;min-height:36px;align-items:center;justify-content:flex-start;background-color:#FFF;border-bottom:1px solid #EEE;padding:4px 8px;box-sizing:border-box; }
.the-input-select .the-input-select-option:last-child { border-bottom:none; }
.the-input-select .the-input-select-option:hover { background-color:rgba(51, 170, 136, 0.1); }
.the-input-select .the-input-select-option.the-input-select-option-selected { background-color:rgba(51, 170, 136, 0.2); }
.the-input-select .the-input-select-select { opacity:0;z-index:-99;position:absolute;display:block;width:1px;height:1px;overflow:hidden; }
.the-input-select .the-input-select-input { opacity:0;z-index:-99;position:absolute;display:block;width:1px;height:1px;overflow:hidden; }
.the-input-warn .the-input-text-input { border-color:#9C9C19; }
.the-input-warn .the-input-textarea-input { border-color:#9C9C19; }
.the-input-warn .the-input-select-display { border-color:#9C9C19; }
.the-input-warn.the-input-radio { border:1px solid #9C9C19; }
.the-input-warn.the-input-checkbox { border:1px solid #9C9C19; }
.the-input-warn .the-input-warn-message { color:#9C9C19; }
.the-input-error .the-input-text-input { border-color:#B31818; }
.the-input-error .the-input-textarea-input { border-color:#B31818; }
.the-input-error .the-input-select-display { border-color:#B31818; }
.the-input-error.the-input-radio { border:1px solid #B31818; }
.the-input-error.the-input-checkbox { border:1px solid #B31818; }
.the-input-error .the-input-error-message { color:#B31818; }
.the-input-slider { position:relative;height:26px; }
.the-input-slider .the-input-slider-inner { display:flex;margin:2px 0; }
.the-input-slider .the-input-slider-bar-wrap { display:block;position:relative;width:100%;box-sizing:border-box; }
.the-input-slider .the-input-slider-bar { position:absolute;left:0;right:0;height:10px;top:6px; }
.the-input-slider .the-input-slider-bar-tap { display:block;position:absolute;left:0;right:0;top:-8px;bottom:-8px;z-index:1; }
.the-input-slider .the-input-slider-bar-bg { position:absolute;left:0;top:6px;right:0;height:4px;border-radius:2px;border:1px solid #BBB;background-color:#CCC; }
.the-input-slider .the-input-slider-bar-highlight { background-color:#3A8;top:6px;position:absolute;height:4px;border-radius:2px;border:1px solid rgba(0,0,0,0.1);max-width:100%; }
.the-input-slider .the-input-slider-handle { position:relative;display:inline-block;cursor:-webkit-grab;border-radius:50%;z-index:4; }
.the-input-slider .the-input-slider-handle:active { cursor:-webkit-grabbing;background-color:#FCFCFC; }
.the-input-slider .the-input-slider-handle .the-input-slider-handle-area { position:absolute;display:inline-block;color:transparent;opacity:0;left:-20%;top:-20%;right:-20%;bottom:-20%; }
.the-input-slider .the-input-slider-handle .the-input-slider-handle-icon { width:24px;height:24px;border-radius:50%;display:inline-block;background-color:white;border:1px solid #DDD;box-shadow:1px 1px 2px rgba(0,0,0,0.5);position:relative;z-index:3; }
.the-input-slider .the-input-slider-handle .the-input-slider-handle-icon:hover { box-shadow:1px 1px 3px rgba(0,0,0,0.5); }
.the-input-slider .the-input-slider-handle .the-input-slider-handle-icon .the-input-slider-label { display:inline-block;padding:2px 4px;text-align:right;min-width:24px;font-size:14px;line-height:24px;box-sizing:border-box; }
.the-input-range { position:relative;height:26px; }
.the-input-range .the-input-range-inner { display:flex;margin:2px 0; }
.the-input-range .the-input-range-bar-wrap { display:block;position:relative;width:100%;box-sizing:border-box; }
.the-input-range .the-input-range-bar { position:absolute;left:0;right:0;height:10px;top:6px; }
.the-input-range .the-input-range-bar-tap { display:block;position:absolute;left:0;right:0;top:-8px;bottom:-8px;z-index:1; }
.the-input-range .the-input-range-bar-bg { position:absolute;left:0;top:6px;right:0;height:4px;border-radius:2px;border:1px solid #BBB;background-color:#CCC; }
.the-input-range .the-input-range-bar-highlight { background-color:#3A8;top:6px;position:absolute;height:4px;border-radius:2px;border:1px solid rgba(0,0,0,0.1);max-width:100%; }
.the-input-range .the-input-range-handle { position:absolute;display:inline-block;left:0;cursor:-webkit-grab;border-radius:50%;z-index:4; }
.the-input-range .the-input-range-handle:active { cursor:-webkit-grabbing;background-color:#FCFCFC;z-index:5; }
.the-input-range .the-input-range-handle .the-input-range-handle-area { position:absolute;display:inline-block;color:transparent;opacity:0;left:-20%;top:-20%;right:-20%;bottom:-20%; }
.the-input-range .the-input-range-handle .the-input-range-handle-icon { width:24px;height:24px;border-radius:50%;display:inline-block;background-color:white;border:1px solid #DDD;box-shadow:1px 1px 2px rgba(0,0,0,0.5);position:relative;z-index:3; }
.the-input-range .the-input-range-handle .the-input-range-handle-icon:hover { box-shadow:1px 1px 3px rgba(0,0,0,0.5); }
.the-input-range .the-input-range-handle .the-input-range-handle-icon .the-input-range-label { display:inline-block;padding:2px 4px;text-align:right;min-width:24px;font-size:14px;line-height:24px;box-sizing:border-box; }
.the-input-upload { position:relative;display:inline-block;color:#888;overflow:hidden; }
.the-input-upload:hover { color:#555; }
.the-input-upload:active { text-shadow:none;opacity:1;color:#777; }
.the-input-upload .the-input-upload-input { opacity:0;display:inline-block;cursor:pointer;position:relative;z-index:2; }
.the-input-upload .the-input-upload-label { position:absolute;z-index:1;text-align:center;box-sizing:border-box;left:0;top:0;right:0;bottom:0;pointer-events:none;background-color:#FFF;box-shadow:inset 1px 1px 2px rgba(0,0,0,0.33);border:1px solid #CCC;border-radius:2px; }
.the-input-upload .the-input-upload-label-inner { display:inline-block;vertical-align:middle; }
.the-input-upload .the-input-upload-icon { display:block;font-size:2em; }
.the-input-upload .the-input-upload-aligner { display:inline-block;width:1px;margin-right:-1px;height:100%;box-sizing:border-box;vertical-align:middle; }
.the-input-upload .the-input-upload-text {  }
.the-input-upload .the-input-upload-spin {  }
.the-input-upload .the-input-upload-close { display:inline-block;position:absolute;right:0;top:0;z-index:5;margin:0;border:none;padding:8px;font-size:24px;color:#AAA;background:rgba(255,255,255,0.2);border-radius:0; }
.the-input-upload .the-input-upload-close:hover { opacity:1;box-shadow:none;color:#555; }
.the-input-upload .the-input-upload-close:active { opacity:1;box-shadow:none;color:#555; }
.the-input-upload .the-input-upload-preview { display:inline-block;box-sizing:border-box;z-index:4;position:absolute;left:0;top:0;right:0;bottom:0;pointer-events:none;border:1px solid #AAA; }
.the-input-upload .the-input-upload-preview-img {  }
.the-input-tag { display:inline-flex;flex-direction:row;flex-wrap:wrap;background-color:#FFF;box-shadow:1px 1px 1px rgba(0,0,0,.05) inset;border:1px solid #AAA;box-sizing:border-box;align-items:center;padding:4px;overflow:auto;justify-content:flex-start; }
.the-input-tag.the-input-tag-focused { outline:5px auto #3A8;outline-offset:-2px; }
.the-input-tag .the-input-tag-tag { display:inline-flex;justify-content:space-between;align-items:center;padding:0 2px;margin:2px;font-size:small;border-radius:2px;background-color:rgba(51, 170, 136, 0.2);color:#3A8;position:relative;z-index:1;flex-grow:1; }
.the-input-tag .the-input-tag-text { display:inline-block;vertical-align:middle;padding:2px; }
.the-input-tag .the-input-tag-remover { display:inline-block;vertical-align:middle;padding:2px; }
.the-input-tag .the-input-tag-remover .the-icon { padding:0px; }
.the-input-tag .the-input-tag-remover:hover { cursor:pointer; }
.the-input-tag .the-input-text-input { background-color:transparent;outline:none;border:none;box-shadow:none;min-width:48px;flex-grow:1;width:auto; }
.the-jumbotron { background-color:#3A8;color:white;padding:16px 0;margin:16px 0;position:relative;overflow:hidden; }
.the-jumbotron .the-jumbotron-title { margin:0;display:block;padding:0 8px; }
.the-jumbotron .the-jumbotron-sub-title { margin:0;display:block;padding:0 8px; }
.the-jumbotron .the-jumbotron-image { position:absolute;display:block;left:0;top:0;right:0;bottom:0;z-index:0; }
.the-jumbotron .the-jumbotron-image-cover { background-color:#3A8;position:absolute;display:block;left:0;top:0;right:0;bottom:0;opacity:0.92;z-index:1; }
.the-jumbotron .the-jumbotron-container { position:relative;z-index:2; }
.the-jumbotron .the-jumbotron-center { text-align:center; }
.the-link { color:#3A8;display:inline-block;padding:0px 4px; }
.the-link-active { text-decoration:none; }
.the-list { margin:0;padding:0;background-color:#FFF;position:relative; }
.the-list .the-list-alt { display:block;list-style:none;text-align:center;font-size:1.33em;color:#CCC;padding:32px 8px; }
.the-list .the-list-item { list-style:none;padding:0;margin:0;min-height:36px;border-bottom:1px solid #EEE; }
.the-list .the-list-item.the-list-item-borderless { border:none; }
.the-list .the-list-item-inner { display:flex;align-items:center;justify-content:flex-start;color:#999;text-decoration:none;padding:4px 8px;margin:0; }
.the-list .the-list-item-inner:hover {  }
.the-list .the-list-item-inner:active {  }
.the-list .the-list-item-col {  }
.the-list .the-list-item-col.the-list-item-col-wide { width:100%; }
.the-list .the-list-item-image { margin-right:8px; }
.the-list .the-list-item-title { margin:0;padding:0 4px;font-weight:normal; }
.the-list .the-list-item-sub-title { margin:0;padding:0 4px;font-size:small;color:#BBB; }
.the-list-horizontal { display:flex;align-items:flex-start;overflow:auto;margin:0px;padding:8px 4px; }
.the-list-horizontal .the-list-item { display:block;width:auto;margin:0;overflow:hidden;flex-shrink:0;max-width:100%;border:none; }
.the-list-horizontal .the-list-item .the-list-item-inner { padding:8px;border:1px solid #EEE;margin:8px; }
.the-list-horizontal .the-list-item.the-list-item-borderless {  }
.the-list-horizontal .the-list-item.the-list-item-borderless .the-list-item-inner { border:none; }
.the-list-group { display:block;margin:8px 0; }
.the-list-group .the-list-group-header { font-size:smaller;font-weight:normal;background-color:#F8F8F8;border-bottom:1px solid #EEE;color:#BBB;margin:0;padding:0 8px; }
.the-list-group .the-list-group-body {  }
.the-main { width:100%;flex-grow:1; }
.the-menu { display:flex;flex-direction:column;list-style:none;padding:0;margin:8px 0;background-color:#FFF;max-width:480px; }
.the-menu .the-menu-item { padding:0;margin:0;border-bottom:1px solid #EEE;cursor:pointer; }
.the-menu .the-menu-item:hover { opacity:0.9; }
.the-menu .the-menu-item:active { opacity:0.8; }
.the-menu .the-menu-item-active { opacity:1;cursor:default; }
.the-menu .the-menu-item-active:hover { opacity:1;cursor:default; }
.the-menu .the-menu-item-active:active { opacity:1;cursor:default; }
.the-menu .the-menu-item-inner { display:flex;color:inherit;text-decoration:none;flex-direction:row;align-items:center;min-height:36px;padding:0 8px; }
.the-menu .the-menu-item-icon {  }
.the-menu .the-menu-item-text {  }
.the-menu .the-menu-end { display:none; }
.the-menu.the-menu-grid { flex-wrap:wrap;align-items:center;flex-direction:row; }
.the-menu.the-menu-grid .the-menu-item { border:none;min-width:20%; }
.the-menu.the-menu-grid .the-menu-item-inner { text-decoration:none;flex-direction:column;padding:16px; }
.the-menu.the-menu-grid .the-menu-item-icon { font-size:2em; }
.the-menu.the-menu-grid .the-menu-item-text { font-size:smaller; }
.the-menu.the-menu-grid .ap-menu-end { flex:auto;display:inline-block;width:0;height:0;opacity:0;pointer-events:none; }
.the-dropdown-menu { position:relative;display:inline-block;max-width:480px; }
.the-dropdown-menu .the-dropdown-menu-button { display:flex;align-items:center;border-color:#AAA;cursor:pointer; }
.the-dropdown-menu .the-dropdown-menu-button:hover { opacity:0.9; }
.the-dropdown-menu .the-dropdown-menu-button:active { opacity:0.8; }
.the-dropdown-menu .the-dropdown-menu-button .the-dropdown-menu-button-text { width:100%; }
.the-dropdown-menu .the-dropdown-menu-button .the-dropdown-menu-button-icon { transform-origin:50% 50%;transform:rotate(-180deg);transition:transform 100ms;box-sizing:border-box;text-align:center;width:1em;height:1em; }
.the-dropdown-menu .the-dropdown-menu-inner { position:absolute;z-index:8;width:100%;min-width:108px;max-width:480px;background-color:rgba(255,255,255,0.8);border:1px solid transparent;opacity:0;overflow:hidden;box-shadow:0px 0px 0px rgba(0,0,0,0.33);transition:opacity 200ms, box-shadow 200ms, border-color 200ms; }
.the-dropdown-menu .the-menu { margin:0; }
.the-dropdown-menu .the-menu-item { transition:max-height 200ms;max-height:0em;margin-bottom:-1px; }
.the-dropdown-menu.the-dropdown-menu-open {  }
.the-dropdown-menu.the-dropdown-menu-open .the-menu-item { max-height:3em;margin:0; }
.the-dropdown-menu.the-dropdown-menu-open .the-dropdown-menu-button-icon { transform:rotate(0deg); }
.the-dropdown-menu.the-dropdown-menu-open .the-dropdown-menu-inner { border-color:#CCC;opacity:1;box-shadow:2px 2px 4px rgba(0,0,0,0.33); }
.the-dropdown-menu.the-dropdown-menu-righted {  }
.the-dropdown-menu.the-dropdown-menu-righted .the-dropdown-menu-inner { left:auto;right:0px; }
.the-root { min-height:100vh;display:flex;flex-direction:column;align-items:stretch; }
.the-route {  }
.the-route-stack { overflow:hidden; }
.the-route-stack .the-route-stack-inner { overflow:hidden;display:flex; }
.the-route-stack .the-route { flex-shrink:0;width:100%;transition:margin 400ms; }
.the-route-stack.the-route-stack-horizontal { flex-direction:row; }
.the-route-stack.the-route-stack-horizontal .the-route { margin-left:0; }
.the-route-stack.the-route-stack-horizontal .the-route.the-route-active { margin-left:-100%; }
.the-route-stack.the-route-stack-horizontal .the-route.the-route-active:first-child { margin-left:0; }
.the-route-stack.the-route-stack-horizontal .the-route.the-route-active.the-route-gone { margin-left:0; }
.the-route-stack.the-route-stack-vertical { flex-direction:column; }
.the-route-stack.the-route-stack-vertical .the-route { margin-top:0; }
.the-route-stack.the-route-stack-vertical .the-route.the-route-active { margin-top:-100%; }
.the-route-stack.the-route-stack-vertical .the-route.the-route-active:first-child { margin-top:0; }
.the-route-stack.the-route-stack-vertical .the-route.the-route-active.the-route-gone { margin-top:0; }
.the-section { margin:16px 0;display:block;font-weight:normal;background-color:#FFF;position:relative; }
.the-section .the-section-header { border-bottom:#AAA;font-weight:normal;margin:0;position:relative;box-sizing:border-box;padding:0 8px 8px;display:flex;justify-content:space-between;align-items:center; }
.the-section .the-section-header.the-section-header-lined { font-size:14px;border-bottom:1px solid #F0F0F0;line-height:16px;padding:0 8px;margin-bottom:4px;color:#999; }
.the-section .the-section-header .the-section-header-action { min-height:16px;margin:0;padding:2px 4px; }
.the-section .the-section-body { display:block;padding:8px; }
.the-accordion-section { transition:max-height 300ms;overflow:hidden;border:1px solid #AAA;border-radius:4px;background-color:#FFF; }
.the-accordion-section .the-accordion-section-inner {  }
.the-accordion-section .the-section-header { background-color:#FFF;border:1px solid #AAA;border-radius:4px;display:flex;padding:0;align-items:center;margin:-1px;font-size:1em;cursor:pointer;position:relative;line-height:36;height:38px;z-index:1; }
.the-accordion-section .the-section-header:hover { opacity:0.9; }
.the-accordion-section .the-section-header:active { opacity:0.8; }
.the-accordion-section .the-section-body { overflow:hidden; }
.the-accordion-section .the-accordion-header-icon { transform-origin:50% 50%;transform:rotate(90deg);transition:transform 100ms;box-sizing:border-box;text-align:center;width:1em;height:1em; }
.the-accordion-section.the-accordion-section-closed { max-height:36px !important; }
.the-accordion-section.the-accordion-section-open {  }
.the-accordion-section.the-accordion-section-open .the-section-body {  }
.the-accordion-section.the-accordion-section-open .the-accordion-header-icon { transform:rotate(180deg); }
.the-spin { text-align:center;display:none; }
.the-spin.the-spinner-enabled { display:inline-flex;justify-content:center;align-items:center;width:100%;height:100%; }
.the-spin .the-spinner-icon { display:inline-block;margin:0 4px;transition:opacity 100ms;opacity:1; }
.the-spin.the-spinner-cover { position:absolute;left:0;top:0;right:0;bottom:0;z-index:4;justify-content:center;align-items:center;background:rgba(255,255,255,0.8);color:#BBB; }
.the-tab {  }
.the-tab .the-tab-header { display:flex;align-items:center;width:100%;overflow-x:auto;box-sizing:border-box;padding:0 0 24px;margin-bottom:-24px;flex-wrap:nowrap; }
.the-tab .the-tab-body { position:relative;width:100%;overflow:hidden;box-sizing:border-box;border:1px solid #EEE;background-color:#FFF;transition:height 300ms;z-index:2; }
.the-tab .the-tab-body-inner { display:flex;position:relative;box-sizing:border-box;align-items:flex-start;margin-top:-1px; }
.the-tab .the-tab-body-inner.the-tab-body-inner-animating { transition:transform 300ms; }
.the-tab .the-tab-body-inner.react-draggable-dragging { transition:none; }
.the-tab .the-tab-content-wrap { width:100%;flex-shrink:0; }
.the-tab .the-tab-content { width:100%;border:1px solid #EEE;margin-right:-1px;padding:8px;transition:height 300ms;box-sizing:border-box;border-top:none;border-bottom:none;position:relative; }
.the-tab .the-tab-content:first-child { border-left:none; }
.the-tab .the-tab-content:last-child { border-right:none; }
.the-tab .the-tab-button { font-size:small;padding:12px 4px;width:100%;background-color:#FFF;margin:0px;color:#BBB;position:relative;min-height:24px;line-height:1em;cursor:pointer;white-space:nowrap;overflow:hidden;text-overflow:ellipses;border:none;border-radius:0;box-shadow:none; }
.the-tab .the-tab-button:hover { box-shadow:none;color:#555; }
.the-tab .the-tab-button:active { box-shadow:none; }
.the-tab .the-tab-button.the-tab-button-active { color:#3A8;opacity:1;cursor:default;overflow:visible; }
.the-tab .the-tab-button .the-tab-button-active-bar { position:absolute;left:0;bottom:0;z-index:2;right:0;height:2px;display:block;background:#3A8;transition:transform 100ms; }
.the-table { border-collapse:collapse;margin:16px auto;width:100%; }
.the-table.the-table-empty { color:#BBB;display:block;text-align:center;padding:24px 0; }
.the-table.the-table-wide { width:100%; }
.the-table .the-table-row-selected { border:2px solid #3A8; }
.the-table .the-table-cell { border:1px solid #EEE;padding:4px 8px; }
.the-table .the-table-header-cell { border:1px solid #EEE;padding:4px 8px; }
.the-table .the-table-checkbox-cell { text-align:center;padding:0 !important;width:48px; }
.the-table .the-table-checkbox { margin:0;padding:0; }
.the-table .the-table-checkbox .the-input-checkbox { width:100%;height:24px;display:inline-flex;align-items:center;justify-content:center;margin:0 auto; }
.the-table .the-table-checkbox .the-input-checkbox .the-input-checkbox-item { width:100%;justify-content:center;box-sizing:border-box;margin:0; }
.the-table .the-table-checkbox .the-input-checkbox-label { width:100%;height:100%;display:inline-flex;justify-content:center;align-items:center;padding:4px 0; }
.the-table .the-table-sortable-header-cell {  }
.the-table .the-table-sortable-header-cell a { display:inline-flex;justify-content:center;align-items:center;padding:4px 8px;cursor:pointer; }
.the-table .the-table-sortable-header-cell a:active { opacity:0.9; }
.the-table .the-table-sortable-header-cell .the-icon { margin-right:2px; }
.the-table .the-table-alt-cell { text-align:center; }
.the-tag { color:#3A8;display:inline-block;font-size:11px;line-height:14px;vertical-align:middle;border:1px solid #3A8;border-radius:2px;padding:2px 4px;margin:2px 4px;text-decoration:none;background-color:rgba(51, 170, 136, 0.1); }
.the-tag.the-link { display:inline-block;padding:2px 4px; }
.the-toast { display:block;margin:0 auto; }
.the-toast.the-toast-empty {  }
.the-toast.the-toast-empty .the-toast-inner { padding-top:0;padding-bottom:0;border-top-width:0;border-bottom-width:0;margin:0; }
.the-toast .the-toast-inner { max-width:480px;margin:4px auto;display:inline-block;text-align:left;padding:4px;box-shadow:2px 2px 4px rgba(0,0,0,0.33);background-color:rgba(255, 255, 255, 0.95);color:#555;border:4px solid #555;font-size:14px;width:240px;border-radius:2px;transition:padding 100ms,border-width 100ms;overflow:hidden; }
.the-toast .the-toast-item { display:block;padding:2px 0;overflow:hidden; }
.the-toast .the-toast-item:active { opacity:0.8; }
.the-toast .the-toast-item-icon { display:inline-block;pointer-events:none; }
.the-toast .the-toast-text { display:inline-block;margin:0 2px;pointer-events:none;cursor:default; }
.the-toast.the-toast-info {  }
.the-toast.the-toast-info .the-toast-inner { color:#0C843A;border-color:#0C843A; }
.the-toast.the-toast-warn {  }
.the-toast.the-toast-warn .the-toast-inner { color:#9C9C19;border-color:#9C9C19; }
.the-toast.the-toast-error {  }
.the-toast.the-toast-error .the-toast-inner { color:#B31818;border-color:#B31818; }
.the-toast .the-toast-transition-enter { line-height:0em; }
.the-toast .the-toast-transition-enter-active { line-height:1em;padding:2px 0;transition:padding 100ms, line-height 100ms; }
.the-toast .the-toast-transition-exit { line-height:1em;padding:2px 0; }
.the-toast .the-toast-transition-exit-active { line-height:0em;padding:0px;transition:padding 100ms, line-height 100ms; }
.the-toast-group { position:fixed;height:0;top:initial;overflow:visible;left:0;bottom:24px;right:0;text-align:center;padding:0;z-index:49;display:flex;flex-direction:column;justify-content:flex-end; }
.the-view { background-color:#FFF;position:relative;min-height:50vh; }
.the-view .the-view-header { background-color:rgba(255,255,255,0.8);border-bottom:1px solid #CCC;align-items:center;margin:0 auto; }
.the-view .the-view-header .the-view-header-inner { display:flex;justify-content:space-between;line-height:36px; }
.the-view .the-view-header .the-view-header-col { display:flex;text-align:center;align-items:center;min-width:25%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden; }
.the-view .the-view-header .the-view-header-col:nth-child(1) { justify-content:flex-start; }
.the-view .the-view-header .the-view-header-col:nth-child(2) { width:50%;max-width:480px;display:block;text-align:center; }
.the-view .the-view-header .the-view-header-col:nth-child(3) { justify-content:flex-end; }
.the-view .the-view-header .the-view-header-icon { line-height:36px;vertical-align:middle;flex-shrink:0; }
.the-view .the-view-header .the-view-header-text { vertical-align:middle; }
.the-view .the-view-header .the-button { height:36px;line-height:36px;justify-content:center;align-items:center;padding:0 8px;min-width:2em;display:inline-flex;cursor:pointer;margin:0 4px;white-space:nowrap; }
.the-view .the-view-header .the-button-text { font-size:smaller; }
.the-view .the-view-header-narrow { max-width:480px; }
.the-view .the-view-body { padding:8px 0;margin:0 auto; }
.the-view .the-view-body-narrow { max-width:480px; }
.the-view .the-view-message { margin:16px 0;text-align:center;color:#BBB; }
.the-video { position:relative;display:inline-block;background-color:#F8F8F8;overflow:hidden; }
.the-video .the-video-inner { display:flex;justify-content:center;align-items:center;width:100%;height:100%;overflow:hidden; }
.the-video .the-video-spinner { position:absolute;z-index:1;color:#BBB;background-color:rgba(255,255,255,0.8);top:0;left:0;right:0;bottom:0;display:flex;justify-content:center;align-items:center; }
.the-video .the-video-spinner .the-icon-spin { font-size:larger; }
.the-video .the-video-video { transition:width 300ms, height 300ms; }
.the-video .the-video-failed { color:#BBB;text-align:center; }
.the-video .the-video-video-failed { opacity:0;visibility:hidden; }
.the-video.the-video-fill {  }
.the-video.the-video-fill .the-video-video { object-fit:cover;min-width:100%;min-height:100%; }
.the-video.the-video-fit {  }
.the-video.the-video-fit .the-video-video { object-fit:scale-down;max-width:100%;max-height:100%; }
.the-pager {  }
.the-pager .the-pager-item { display:inline-block;text-align:center;font-size:14px;margin-right:-1px;color:#3A8;border:1px solid #3A8;background:#FFF; }
.the-pager .the-pager-item-inner { display:inline-block;padding:4px;width:24px;height:24px;line-height:24px;user-select:none; }
.the-pager .the-pager-item:hover { text-decoration:underline;cursor:pointer;opacity:0.8; }
.the-pager .the-pager-item:active { opacity:0.9; }
.the-pager .the-pager-item.the-pager-item-selected { cursor:default;opacity:1;background:#3A8;color:white; }
.the-pager .the-pager-item.the-pager-item-selected:hover { cursor:default;opacity:1;background:#3A8;color:white; }
.the-pager .the-pager-item.the-pager-item-selected:active { cursor:default;opacity:1;background:#3A8;color:white; }
.the-pager-row { display:flex;justify-content:space-between;margin:8px 0;flex-direction:row-reverse;padding:0 8px;align-items:center; }
.the-pager-counts { font-size:small; }
.the-pager-counts .the-pager-counts-symbol { display:inline-block;margin:0 2px; }  
