/**
* {{pascalcase name}} component
*/
'use strict'

import React from 'react'
import { localized, stateless } from 'the-component-mixins'

@localized
class {{pascalcase name}} extends React.Component {
render () {
return (
<div></div>
)
}
}


export default stateless(
(state) => ({

}),
({
}, propsProxy) => ({

})
)({{pascalcase name}})
