.self {

}

.list {
  overflow: auto;
}

.searchRow {
  text-align: right;
  margin: 16px 0;
}

.searchForm {
  display: inline-flex;

  &:global(.the-form.the-form-inline) {
    margin: 0 0 0 auto;
    padding: 0 4px;
    font-size: small;
    width: 240px;
  }
}