.content {
  color: white;
  position: relative;
  z-index: 2;
}

.desc {
  margin: 8px auto;
  padding: 0 8px;
  position: relative;
}

.self {
  margin: -8px -8px 16px;
  overflow: hidden;
  padding: 16px 8px;
  position: relative;
}

.title {
  font-weight: normal;
  margin: 0 auto;
  padding: 0 8px;
}
