.image {
  margin-right: 2px;
}

.self {
  display: flex;
  justify-content: space-between;
}

.text {
  display: none;
  max-width: 124px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 600px) {
  .text {
    display: inline-block;

  }
}
